<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="element_lib/theme-chalk/index.css"/>

</head>
<body>


  
<div id="app">
  <!-- <el-button type="primary">Primary</el-button> -->
  <el-select v-model="value" filterable placeholder="Select">
    <el-option
      v-for="item in options"
      :key="item.value"
      :label="item.label"
      :value="item.value"
    />

</div>



</body>
<script src="vue.js" type="text/javascript" charset="utf-8"></script>
<script src="element_lib/index.js" type="text/javascript" charset="utf-8"></script>
<script>
  new Vue({
    el: '#app',
    //数据属性模块
    data:{
      startCompany:""
    },
  })
  




</script>


</html>
